<ejs-diagram class="diagram-container" #diagram  id="diagram"
  [width]="'100%'"
  [height]="649"
  [nodes]="nodes"
  [connectors]="connectors"
  [layout]="layout"
  [getNodeDefaults]="getNodeDefaults"
  [getConnectorDefaults]="getConnectorDefaults"
  (created)="onDiagramCreated()"
  [selectedItems]="selectedItems" (onUserHandleMouseDown)="onUserHandleMouseDown($event)" (click)="onNodeClick($event)"
  [snapSettings]="snapSettings"
>
  <ng-template #userHandleTemplate >
    <div class="dropDown-container">
      <button #dropdownbutton id="dropdownbutton" ejs-dropdownbutton  target="#listview" (open)="onOpenDropDownButton($event)" iconCss='e-icons e-plus' cssClass='e-caret-hide' (beforeClose)="onBeforeCloseDropDownButton($event)"></button>
    </div>
  </ng-template>
</ejs-diagram>

<ejs-listview #listview id='listview' [dataSource]='listdata' [fields]='fields' [showHeader]='true' [headerTitle]='headertitle' [animation]='animation' (select)="onSelectListView($event)"></ejs-listview>
