<div class="main-content-wrapper">
  <!-- <button (click)="exportDiagram()">Export</button> -->
  <!-- <div style="padding-top: 90px;"><button type="button" ejs-button style="width: 15%;height: 15%;" (click)="exportDiagram()" class="e-btn e-success">EXPORT</button></div> -->
  <div style="padding-top: 90px;">
    <div class="diagram-serialization" style="width: 100%;height: 10%">
      <ejs-toolbar width="100%" (clicked)="onClicked($event)">
        <e-items>
          <e-item text='Save' id='save' tooltipText='Save' prefixIcon='e-ddb-icons e-save'></e-item>
          <e-item type='Separator'></e-item>
          <e-item text='Open' id='open' tooltipText='Open file' prefixIcon='e-icons e-upload-1'></e-item>
        </e-items>
      </ejs-toolbar>
      <!-- Hidden file input -->
      <input #fileInput type="file" accept=".json" style="display: none" (change)="onFileSelected($event)"/>
    </div>
  </div>
  <div>
    <ejs-diagram class="diagram-container" #diagram 
    id="diagram" [width]="'100%'" [height]="649" [nodes]="nodes"
    [connectors]="connectors" [layout]="layout" [getNodeDefaults]="getNodeDefaults"
    [getConnectorDefaults]="getConnectorDefaults" (created)="onDiagramCreated()" [selectedItems]="selectedItems"
    (onUserHandleMouseDown)="onUserHandleMouseDown($event)" (click)="onNodeClick($event)" [snapSettings]="snapSettings" [dataSourceSettings]='dataSourceSettings'>

    <ng-template #userHandleTemplate let-data>
      <div class="dropDown-container">
        @if (data.name === 'addBlock') {
          <button #dropdownbutton id="dropdownbutton" ejs-dropdownbutton target="#listview"
          (open)="onOpenDropDownButton($event)" iconCss='e-icons e-plus' cssClass='e-caret-hide'
          (beforeClose)="onBeforeCloseDropDownButton($event)" (beforeOpen)="onBeforeOpenDropDownButton()"></button>
        }
        @else if (data.name === 'editBlock'){
          <button #editbtn ejs-button id="editbtn" iconCss='e-icons e-edit' cssClass='e-caret-hide'></button>
        }
        @else{
          <button #deletebtn ejs-button id="deletebtn" iconCss='e-icons e-trash' cssClass='e-caret-hide'></button>
        }
      </div>
    </ng-template>

    <ng-template #nodeTemplate let-data>
      <div><label style="padding: 5px;">{{ data.data.fieldDetails.label }}</label></div>
      @switch (data.data.chatWorkflowBlockId){
        @case(chatWorkflowBlockTypeEnum.GetPickerInput){
          @switch (data.data.chatWorkflowEditorTypeId){
            @case (chatWorkflowEditorTypeEnum.Boolean){
              <ng-container>
                <div><button type="button" ejs-button style="width: 85%;" class="e-btn e-success">Yes</button></div>
                <div><button type="button" ejs-button style="width: 85%;" class="e-btn e-danger">No</button></div>
              </ng-container>
            }
            @case (chatWorkflowEditorTypeEnum.Buttons){
              <ng-container>
                @for(option of data.data.fieldOptionDetails; track $index){
                  <button ejs-button cssClass="e-primary" style="width: 85%;">{{option.label}}</button>
                }
              </ng-container>
            }
            @case (chatWorkflowEditorTypeEnum.DropDown){
              <ng-container>
                <ejs-dropdownlist [dataSource]="data.data.fieldOptionDetails" [fields]="ddlFields"
                  [placeholder]="data.data.fieldDetails.placeholder" cssClass="e-primary" width="85%">
                </ejs-dropdownlist>
              </ng-container>
            }
            @case(chatWorkflowEditorTypeEnum.MultiSelect){
              <ng-container >
                <ejs-multiselect [dataSource]="data.data.fieldOptionDetails" [fields]="ddlFields" [placeholder]="data.data.fieldDetails.placeholder" cssClass="e-primary" width="85%">
                </ejs-multiselect>
              </ng-container>
            }
            @case(chatWorkflowEditorTypeEnum.List){
              <ng-container>
                <ejs-listview id='sample-list' [dataSource]='data.data.fieldOptionDetails' [fields]='ddlFields'></ejs-listview>
              </ng-container>
            }
          }
        }
        @case(chatWorkflowBlockTypeEnum.GetTextInput){
          @switch (data.data.chatWorkflowEditorTypeId){
            @case(chatWorkflowEditorTypeEnum.Text){
              <ng-container>
                <ejs-textbox [placeholder]="data.data.fieldDetails.placeholder" readonly="true"></ejs-textbox>
              </ng-container>
            }
            @case(chatWorkflowEditorTypeEnum.TextArea){
              <ng-container>
                <ejs-textarea [placeholder]="data.data.fieldDetails.placeholder" readonly="true"></ejs-textarea>
              </ng-container>
            }
            @case(chatWorkflowEditorTypeEnum.Date){
              <ng-container>
                <ejs-datepicker [placeholder]="data.data.fieldDetails.placeholder" [readonly]="true"></ejs-datepicker>
              </ng-container>
            }
            @case(chatWorkflowEditorTypeEnum.DateTime){
              <ng-container>
                <ejs-datetimepicker [placeholder]="data.data.fieldDetails.placeholder" [readonly]="true"></ejs-datetimepicker>
              </ng-container>
            }
            @case(chatWorkflowEditorTypeEnum.Number){
              <ng-container>
                <ejs-numerictextbox format='n0' [placeholder]="data.data.fieldDetails.placeholder" readonly="true"></ejs-numerictextbox>
              </ng-container>
            }
            @case(chatWorkflowEditorTypeEnum.Decimal){
              <ng-container>
                <ejs-numerictextbox [placeholder]="data.data.fieldDetails.placeholder" readonly="true"></ejs-numerictextbox>
              </ng-container>
            }
            @case(chatWorkflowEditorTypeEnum.Regex){
              <ng-container>
                <ejs-textbox [placeholder]="data.data.fieldDetails.placeholder" readonly="true"></ejs-textbox>
              </ng-container>
            }
          }
        }
        @case(chatWorkflowBlockTypeEnum.BranchOnPickerInput){
          @switch (data.data.chatWorkflowEditorTypeId){
            @case (chatWorkflowEditorTypeEnum.ButtonsBranch){
              <ng-container>
                @for(option of data.data.fieldOptionDetails; track $index){
                  <div class="button-item">
                    <button ejs-button cssClass="e-primary" style="width: 75%;">{{$index+1}}.{{option.label}}</button>
                    @if(checkBranchAdd(data.data.branchDetails, option.value)){
                      <div class="dropDown-container{{$index}}">
                        <button (click)="onClick">Click</button>
                        <button #dropdownbutton id="dropdownbutton-{{$index}}" ejs-dropdownbutton target="#listview"
                        (open)="onOpenDropDownButton($event, option, $index)" iconCss='e-icons e-plus' cssClass='e-caret-hide'
                        (beforeClose)="onBeforeCloseDropDownButton($event)" (beforeOpen)="onBeforeOpenDropDownButton()"></button>
                      </div>                      
                    }
                  </div>
                }
              </ng-container>
            }
            @case (chatWorkflowEditorTypeEnum.DropdownBranch){
              <ng-container>
                <ejs-dropdownlist [dataSource]="data.data.fieldOptionDetails" [fields]="ddlFields"
                  [placeholder]="data.data.fieldDetails.placeholder" cssClass="e-primary" width="85%">
                </ejs-dropdownlist>
              </ng-container>
            }
            @case(chatWorkflowEditorTypeEnum.ListBranch){
              <ng-container>
                <ejs-listview id='sample-list' [dataSource]='data.data.fieldOptionDetails'
                  [fields]='ddlFields'></ejs-listview>
              </ng-container>
            }
          }
        }
      }
    </ng-template>
  </ejs-diagram>

  <ejs-listview #listview id='listview' [dataSource]='listdata' cssClass='bc-block-option' [fields]='fields' [showHeader]='true'
    [headerTitle]='headertitle' [animation]='animation' (select)="onSelectListView($event)"></ejs-listview>
  </div>

</div>

<app-workflow-sidebar #workflowSidebar [nodeEditType]="nodeEditType" [nodeBlockType]="nodeBlockType" [sidebarHeader]="sidebarHeader" [clickedNodeRuleId]="clickedNodeRuleId" [selectedWorkFlowId]="selectedWorkFlowId" (diagramRefresh)="onDiagramRefresh()" (updateNode)="onUpdateNode($event)"></app-workflow-sidebar>

<!-- <div style="display: none;">
  <ejs-uploader #defaultupload id='fileupload' (success)='onUploadSuccess($event)' [asyncSettings]='asyncSettings'></ejs-uploader>
</div> -->