<div id="dialogContainer">
  <ejs-dialog class="e-control e-dialog e-lib e-dlg-modal e-popup e-popup-open" #dialog id="dialog" header="Choose an option" target="#diagram" [visible]='false' [isModal]='true' (close)="onCloseDialog()" closeOnEscape='false' showCloseIcon="true" width='250px' (created)="onDialogCreated()" [position]="dialogPosition" (open)="onOpenDialog($event)">
    <ng-template #content>
      <div>
        <div><button ejs-button class="e-control e-btn e-lib" (click)="handleEvent()">Event</button></div>
        <div><button ejs-button class="e-control e-btn e-lib" (click)="handleAction()">Action</button></div>
        <div><button ejs-button class="e-control e-btn e-lib" (click)="handleCondition()">Condition</button></div>
        <div><button ejs-button class="e-control e-btn e-lib" (click)="handleExit()">Exit</button></div>
      </div>
    </ng-template>
  </ejs-dialog>
</div>

<ejs-diagram class="diagram-container" #diagram  id="diagram"
  [width]="'100%'"
  [height]="649"
  [nodes]="nodes"
  [connectors]="connectors"
  [layout]="layout"
  [getNodeDefaults]="getNodeDefaults"
  [getConnectorDefaults]="getConnectorDefaults"
  (created)="onDiagramCreated()"
  [selectedItems]="selectedItems" (onUserHandleMouseDown)="onUserHandleMouseDown($event)" (click)="onNodeClick($event)"
  [snapSettings]="snapSettings"
></ejs-diagram>
