<ejs-sidebar id="default-sidebar" #sidebar [type]='type' (created)="onSideBarCreated($event)" [width]="width" [showBackdrop]="true" target=".main-content-wrapper">
    <div class="title sidebar-header">{{sidebarHeader}}</div>
    <div class="content">
        <form (ngSubmit)="onFormSubmit()" class="full-size-form">
            <div class="form-header"> {{sidebarHeader}}</div>
            <div>
                <label>
                    Label: <input type="text" [(ngModel)]="sideBarLabel" name="sideBarLabel" placeholder="Enter label..." class="description-box" (change)="enableSaveButton()" required />
                </label>
            </div>

            <ng-template #sideBarDescriptionTemplate>
                <label>
                    Description: <input type="text" [(ngModel)]="sideBarDescription" name="singleDescription" placeholder="Enter description..." class="description-box" />
                </label>
            </ng-template>

            <ng-template #sideBarPlaceholderTemplate>
                <label>
                    Placeholder: <input type="text" [(ngModel)]="sideBarPlaceholder" name="singlePlaceholder" placeholder="Enter placeholder..." class="description-box" />
                </label>
            </ng-template>

            <ng-template #fieldOptionMinValueTemplate>
                <label>
                    Minimum Value: <input type="number" [(ngModel)]="fieldOptionMinValue" name="fieldOptionMinValue" placeholder="Enter Minimum value here" class="description-box" />
                </label>
            </ng-template>
            
            <ng-template #fieldOptionMaxValueTemplate>
                <label>
                    Maximum Value: <input type="number" [(ngModel)]="fieldOptionMaxValue" name="fieldOptionMaxValue" placeholder="Enter Maximum value here" class="description-box" />
                </label>
            </ng-template>

            <ng-template #removeButtonTemplate>
                @for(button of buttons; track $index){
                    <div class="button-item">
                        <button ejs-button cssClass="e-primary" style="width: 75%;">{{button.label}}</button>
                        @if(isEdit){
                            <button ejs-button type="button" iconCss='e-icons e-edit' (click)="editButton($index)"></button>
                        }
                        <button ejs-button type="button" iconCss='e-icons e-close'  (click)="removeButton($index)"></button>
                    </div>
                }
            </ng-template>

            <ng-template #addButtonTemplate let-isVisible="visibility">
                <div>
                    <input #optionLabel type="text" placeholder="Option Label" class="button-input" />
                </div>
                <div>
                    <input #optionValue type="text" placeholder="Option Value" class="button-input" />
                </div>
                <div>
                    <input #optionDescription type="text" placeholder="Option Description" class="button-input" [style.visibility]="isVisible ? 'visible' : 'hidden'" />
                </div>
                @if(isEditButton){
                    <div>
                        <button type="button" (click)="editOptionButton(optionLabel.value, optionValue.value, isVisible ? optionDescription.value : null, optionLabel, optionValue, isVisible ? optionDescription : null)" class="e-btn">Update Option</button>
                        <button type="button" (click)="cancelOption(optionLabel, optionValue, isVisible ? optionDescription : null)" class="e-btn">Cancel</button>
                    </div>
                }
                @else{
                    <div>
                        <button type="button" style="width: 100%;" (click)="addButton(optionLabel.value, optionValue.value, isVisible ? optionDescription.value : null, optionLabel, optionValue, isVisible ? optionDescription : null)" class="e-btn">Add Option</button>
                    </div>
                }
            </ng-template>

            @switch(nodeBlockType){
                @case(chatWorkflowBlockTypeEnum.GetPickerInput){
                    @switch(nodeEditType){
                        @case(chatWorkflowEditorTypeEnum.Boolean){
                        <div>
                            <div><button type="button" ejs-button class="e-btn e-success">Yes</button></div>
                            <div><button type="button" ejs-button class="e-btn e-danger">No</button></div>
                        </div>
                        }
                        @case(chatWorkflowEditorTypeEnum.Buttons){
                        <div>
                            <div class="button-list" *ngTemplateOutlet="removeButtonTemplate"></div>
                            <div class="add-button-form" *ngTemplateOutlet="addButtonTemplate"></div>
                        </div>
                        }
                        @case(chatWorkflowEditorTypeEnum.DropDown){
                        <div>
                            <div *ngTemplateOutlet="sideBarDescriptionTemplate"></div>
                            <div *ngTemplateOutlet="sideBarPlaceholderTemplate"></div>
                            <div class="button-list"  *ngTemplateOutlet="removeButtonTemplate"></div>
                            <div class="add-button-form" *ngTemplateOutlet="addButtonTemplate"></div>
                        </div>
                        }
                        @case(chatWorkflowEditorTypeEnum.MultiSelect){
                        <div>
                            <div *ngTemplateOutlet="sideBarDescriptionTemplate"></div>
                            <div *ngTemplateOutlet="sideBarPlaceholderTemplate"></div>
                            <div class="button-list" *ngTemplateOutlet="removeButtonTemplate"></div>
                            <div class="add-button-form" *ngTemplateOutlet="addButtonTemplate"></div>
                            <div *ngTemplateOutlet="fieldOptionMinValueTemplate"></div>
                            <div *ngTemplateOutlet="fieldOptionMaxValueTemplate"></div>
                        </div>
                        }
                        @case(chatWorkflowEditorTypeEnum.List){
                        <div>
                            <div *ngTemplateOutlet="sideBarDescriptionTemplate"></div>
                            <div *ngTemplateOutlet="sideBarPlaceholderTemplate"></div>
                            <div class="button-list"  *ngTemplateOutlet="removeButtonTemplate"></div>
                            <div class="add-button-form" *ngTemplateOutlet="addButtonTemplate; context: { visibility: true }"></div>
                        </div>
                        }
                    }
                }
                @case(chatWorkflowBlockTypeEnum.GetTextInput){
                    @switch(nodeEditType){
                        @case(chatWorkflowEditorTypeEnum.Date){
                        <div>
                            <div *ngTemplateOutlet="sideBarPlaceholderTemplate"></div>
                            <label> From: <ejs-datepicker [(ngModel)]="fromDate" name="fromdatepicker"></ejs-datepicker></label>
                            <label> To: <ejs-datepicker [(ngModel)]="toDate" name="todatepicker"></ejs-datepicker></label>
                        </div>
                        }
                        @case(chatWorkflowEditorTypeEnum.DateTime){
                            <div *ngTemplateOutlet="sideBarPlaceholderTemplate"></div>
                            <label> From: <ejs-datetimepicker [(ngModel)]="fromDate" name="fromdatetimepicker"></ejs-datetimepicker></label>
                            <label> To: <ejs-datetimepicker [(ngModel)]="toDate" name="todatetimepicker"></ejs-datetimepicker></label>
                        }
                        @case(chatWorkflowEditorTypeEnum.Number){
                        <div>
                            <div *ngTemplateOutlet="sideBarDescriptionTemplate"></div>
                            <div *ngTemplateOutlet="sideBarPlaceholderTemplate"></div>
                            <div *ngTemplateOutlet="fieldOptionMinValueTemplate"></div>
                            <div *ngTemplateOutlet="fieldOptionMaxValueTemplate"></div>
                        </div>
                        }
                        @case(chatWorkflowEditorTypeEnum.Decimal){
                        <div>
                            <div *ngTemplateOutlet="sideBarDescriptionTemplate"></div>
                            <div *ngTemplateOutlet="sideBarPlaceholderTemplate"></div>
                            <div *ngTemplateOutlet="fieldOptionMinValueTemplate"></div>
                            <div *ngTemplateOutlet="fieldOptionMaxValueTemplate"></div>
                        </div>
                        }
                        @case(chatWorkflowEditorTypeEnum.Text){
                        <div>
                            <div *ngTemplateOutlet="sideBarDescriptionTemplate"></div>
                            <div *ngTemplateOutlet="sideBarPlaceholderTemplate"></div>
                            <div *ngTemplateOutlet="fieldOptionMaxValueTemplate"></div>
                        </div>
                        }
                        @case(chatWorkflowEditorTypeEnum.TextArea){
                        <div>
                            <div *ngTemplateOutlet="sideBarDescriptionTemplate"></div>
                            <div *ngTemplateOutlet="sideBarPlaceholderTemplate"></div>
                            <div *ngTemplateOutlet="fieldOptionMaxValueTemplate"></div>
                        </div>
                        }
                        @case(chatWorkflowEditorTypeEnum.Regex){
                        <div>
                            <div *ngTemplateOutlet="sideBarDescriptionTemplate"></div>
                            <div *ngTemplateOutlet="sideBarPlaceholderTemplate"></div>
                            <label>
                                Regex: <input type="text" [(ngModel)]="fieldOptionRegexValue" name="fieldOptionRegexValue" placeholder="Enter regex here" class="description-box" />
                            </label>
                        </div>
                        }
                    }
                }
            }
        </form>
    </div>
    <div class="center-align">
        @if(isEdit){
            <button ejs-button id="update" (click)="onUpdateCloseSideBarClick()" class="e-btn close-btn">Update</button>
        }
        @else{
            <button ejs-button id="close" (click)="onAddCloseSideBarClick()" class="e-btn close-btn">Save & Close</button>
        }
        <button ejs-button id="cancel" (click)="onCancelSideBarClick()" class="e-btn close-btn">Cancel</button>
    </div>
</ejs-sidebar>